* {
    box-sizing: border-box;
}

body {
    background-color: #ddffd0;
    padding: 20px;
    font-family: Helvetica, sans-serif ;
}

/* Center website */
.article-main {
    margin: auto 20vw auto 10vw; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0 10px;
    max-width: 900vw;

}

h1 {
    font-size: 50px;
    word-break: break-all;
}


.special-button:hover {background-color: #3e8e41}

.special-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.sidenav {
    height: 100%;
    width: 10vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #274f27;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #111111;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.custom-button {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.5vw;
    background-color: #267926; /* Green */
    border: 1px solid #3c3b3c;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 9vw;
    display: block;
    border-radius: 5px;
}
.article-content {
    background-color: rgba(25, 79, 19, 0.37);
    padding: 10px;
    border-radius: 20px;
}
.images1 {
    margin: 5vh 0 0 58vw;
    padding:0 2vh 0 1vh;
    width: 28vw;
    background: #3e8e41;
    border-radius: 20px;
}
.images2-1 {
    margin: 10vh 0 0 59vw;
    padding:0 2vh 0 1vh;
    width: 11vw;
    background: #3e8e41;
    border-radius: 20px;
}
.images2-2 {
    margin: 0 0 0 75vw;
    padding: 0 2vw  2vh 0;
    width: 11vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.images3-1 {
    margin: 5vh 0 0 58vw;
    padding: 0 2vw  2vh 0;
    width: 14vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.images3-2{
    margin: 5vh 0 0 68vw;
    padding: 0 2vw  2vh 0;
    width: 16vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.images4-1 {
    margin: 5vh 0 0 58vw;
    padding: 0 2vw  2vh 0;
    width: 14vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.images4-2 {
    margin: 5vh 0 0 68vw;
    padding: 0 2vw  2vh 0;
    width: 16vw;
    background: #3e8e41;
    border-radius: 20px;
    transform: translate(0,-8vh);
}
.title-box {
    margin: auto;
    width: 60%;
    background: #3E8E41FF;
    border-radius: 25px;
    font-size: 60px;
}
.article-banner {
    width: 85vw;


}